<md-toolbar color="primary">
  <span>
      <a href="/">
      <img class="app-logo" src="https://az724081.vo.msecnd.net/img/salaxy/logo/inverse_600.png">
      </a>
      </span>
  <h1>{{title}}</h1>
  <span class="flex-spacer"></span>
  <md-icon class="example-icon">favorite</md-icon>
</md-toolbar>

<md-sidenav-container style="height: calc(100vh - 80px);">
  <md-sidenav mode="side" opened="true">
    <md-list>
      <md-list-item> <a routerLink="/">Etusivu</a> </md-list-item>
      <md-list-item> <a routerLink="/Calculator">
				Perus laskuri</a> </md-list-item>
    </md-list>
  </md-sidenav>
  <div class="salaxy-container">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>


